---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Galery from "../components/Galery.astro";
---

<Layout title="Welcome to Astro.">
  <Hero
    title="Noriega Estudio Fotografico"
    description="Conoce las mejores Fotografias"
    buttonLabel="Conoce más"
    buttonLink="#"
  />

  <!--Nav-->
  <Navigation />
  
  <Galery />

  <div
    class="flex justify-center items-center p-3 text-sm text-center md:text-left fade-in"
  >
    <a class="text-gray-500 no-underline hover:no-underline" href="#"
      >by &copy; Ricardo Bermudez {new Date().getFullYear()}</a
    >
  </div>
</Layout>

<style></style>
